@{
  ViewData["Title"] = "Thống kê";
  Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<html>
  <head>
    <title>Thống kê</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  </head>
  <body>

    <py-config>
      packages = ["matplotlib", "pandas"]
    </py-config>

    <py-script>

      import pandas as pd
      import matplotlib.pyplot as plt
      from pyodide.http import open_url

      url = (
      "https://raw.githubusercontent.com/yenn104/datatesting/master/industryandtrade_market_price.csv_27.csv"
      )

      data = pd.read_csv(open_url(url))

      def plot(data):
        df_grouped = data.groupby(['donvitinh'])['ten'].sum().reset_index()
        data['so_luong'] = 1

        df_grouped = data.groupby(['donvitinh'])['so_luong'].sum().reset_index()

        plt.rcParams["figure.figsize"] = (12,5) # đổi kích thước biểu đồ
        fig, ax = plt.subplots()
        bars = ax.bar(df_grouped["donvitinh"], df_grouped["so_luong"]) # đổi thành bar chart
        ax.bar_label(bars, labels=df_grouped["so_luong"].values) # hiển thị giá trị của các cột lên trên chúng

        plt.title("Số sản phẩm theo đơn vị tính")

        plt.xticks(rotation=45) 
        display(fig, target="graph-area", append=False)

      plot(data)

    </py-script>

    <div id="graph-area"></div>
  </body>
</html>